= link_to 'Dashboard', dashboard_path, class: 'btn btn-info dashboard-link'
h1 Editing Power Outlet

= render 'form'

= link_to 'Show', @power_outlet, class: 'btn btn-info'
= link_to 'Back', power_outlets_path, class: 'btn btn-default'
