= link_to 'Dashboard', dashboard_path, class: 'btn btn-info dashboard-link'
h1 Editing power_outlet_group

== render 'form'

= link_to 'Show', @power_outlet_group, class: 'btn btn-info'
= link_to 'Back', power_outlet_groups_path, class: 'btn btn-default'

